/* general element styles */

body {
  color: #3d3e44;
  font-family: "Calibre", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  font-size: 0.8em;
  -webkit-font-smoothing: antialiased;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  font-variant-numeric: proportional-nums;
  line-height: 1.7;
  min-height: 100vh;
  min-width: 320px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* top nav styles*/

.app-header {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  z-index: 5;
}

.app-nav-logo {
  display: block;
  float: left;
  margin-left: 3rem;
}

.app-nav {
  float: right;
  margin-top: 0.35rem;
}

.app-nav-item {
  display: inline-block;
  margin-right: 1.5rem;
}

@media screen and (min-width: 1600px) {

  /* top nav styles */

  .app-nav-item {
    font-size: 1.2em;
  }
}