/* general element styles */

body {
  color: #3d3e44;
  font-family: europa, sans-serif;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  font-size: 0.8em;
  -webkit-font-smoothing: antialiased;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  font-variant-numeric: proportional-nums;
  line-height: 1.7;
  min-height: 100vh;
  min-width: 320px;
}

h2 {
  font-family: europa, sans-serif;
  font-weight: 500;
  line-height: 1.25;
  margin: 0 0 0.75rem;
}

a {
  border-color: rgba(237,62,68,0.3);
  color: #ed3e44;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  text-decoration: none;
  transition: color 150ms ease-in-out, border-color 150ms ease-in-out;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* layout */

.single-column-layout {
  display: block;
  margin: 0 auto;
  max-width: 660px;
}

.single-column-layout p {
  font-size: 1.5em;
}

.single-column-layout::after {
  clear: both;
  content: "";
  display: block;
}

/* top nav styles*/

.app-header {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  z-index: 5;
}

.app-nav-logo {
  display: block;
  float: left;
  margin-left: 3rem;
}

.app-nav {
  float: right;
  margin-top: 0.35rem;
}

.app-nav-item {
  display: inline-block;
  margin-right: 1.5rem;
}

/* .app-nav-link {

} */

.app-nav-contact-me {
  background: #fff;
  color: #ed3e44;

  border-radius: 2px;
  font-weight: 500;
  padding: 15px;
}

/* hero styles */

.app-hero {
  padding-top: 18rem;
  padding-bottom: 12rem;
  background: linear-gradient(rgba(237,62,68,0.8), rgba(237,62,68,0.8));
  background-position: center;
  background-size: cover;
  color: #fff;
}

.hero-title {
  font-size: 2.5em;
  font-weight: 300;
}

/* main content column styles */

.single-column-layout#meat {
  margin-bottom: 6rem;
}

.view-content-column {
  margin-bottom: 0;
  margin-top: 3rem;
}

.view-content-column::before {
  content: "←";
  padding-right: 0.75rem;
}

@media screen and (min-width: 1600px) {

  /* layout */

.single-column-layout {
  max-width: 700px;
  font-size: 1.2em;
}

  /* top nav styles */

  .app-nav-item {
    font-size: 1.2em;
  }
}