/* default element styles */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* top nav */

.app-header {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  z-index: 5;
}

.app-nav-logo {
  display: block;
  float: left;
  margin-left: 3rem;
}

.app-nav {
  float: right;
  margin-top: 0.35rem;
}

.app-nav-item {
  display: inline-block;
  margin-right: 1.5rem;
}